header{
    font-family: cursive;
    display: flex;
    flex-direction:column;
    align-items: center;
    .header-top{
        background-color: $primary;
        width: 100%;
        height: 100px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        img{
            height: 100%;
            margin: 20px;
        }
        .link{
            margin-right:20px;
        }
        a{
            color:$primary-darken; 
            margin:5px;
            &:hover{
                background-color: $primary-hover;
                border-radius: 20px;
                text-decoration: none;
                padding:10px;
            }
        }

    }  
}
#panier h2{
    background-color: $primary;   
    margin-top:40px;
    text-align: center;
    height: 150px;
    border:solid;
    border-radius: 20px;
    border-color: $primary;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    h2{
        line-height:2;
    }

}

.confirmation{
    display:flex; 
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    background-color: $primary;
    border-radius:20px;
    margin-top: 30px;
    margin-left: 5%;;
    margin-bottom: 30px;
    padding:10px;
    h2{
        text-align: center;
    }
}
.recap-commande{
    display:flex; 
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: $primary;
    border-radius:20px;
    margin-top: 30px;
    margin-left: 5%;;
    margin-bottom: 30px;
    padding:10px;
   
}
.recap{
    display:flex; 
    flex-direction: column;
    align-items: center;
    width: 90%;
   
}

.produit{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid;
    border-radius: 20px;
    width: 80%;
    border-color:$primary-darken;
    margin:1%;
    img{
        
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 25%;
    };
    h3{
        margin: 30px;
        height: 30%;
    };
    p{
        margin:30px;
        height: 30%
    };
};
.total-commande{
    border: solid;
    border-radius: 20px;
    border-color:$primary-darken;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
    padding:10px;
    p{
        margin:0;
    };
}

@media screen and (min-width:320px) and (max-width:750px){
    header{
        font-family: cursive;
        .header-top{
            flex-wrap: wrap;
            align-items: center;
            height:150px;
            margin-bottom:20px;
            img{
                width: 50%;
                height: 50%;
                position: relative;
                left:20%;
            }
            .link{
                display: flex;
                justify-content: space-around;
                width: 90%;
            }
        }  
        .header-présentation{
           position: initial;
           width: 100%;
           height: 200px;
           margin: 0;
           h2{
               line-height: 1.2;
           }
    
        }
    }
}